# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables and secret keys
.env

# Ignore virtual environments
venv/
env/

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.swp

# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignore dependency files
*.egg-info/
